#board {
    background-color: lightgray;
    height: 512px;
    width: 608px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box {
    height: 32px;
    width: 32px;
    float: left;
  }

  .wallBox {
    /* background-color: gray; */
    background-image: url(img/w.gif);
    background-size: 32px;
  }

  .crateBox {
    /* background-color: burlywood; */
    background-image: url(img/c.gif);
    background-size: 32px;
  }
  
  .goal {
    /*background-color: green; */
    background-image: url(img/g.gif);
    background-size: 32px;
  }
  
  .goalCrate {
    background-image: url(img/cg.gif);
    background-size: 32px;
  }

  .player {
    /* background-color: red; */
    background-image: url(img/p.gif);
    background-size: 32px;
  }

